*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    background-image:url(/bg.png);
    background-repeat: no-repeat;
  
}
/* ---------------------------------------------for hamburger css-------------------------- */
/* for the circle */
.navigation_btn{
    /* width:50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center; */
    


    /* position of the lines and circle */
    position: absolute;
    top: 3%;
    left:5%;
    cursor: pointer;
    


    /* sent to front */
    z-index: 20000;

}


/* for background in back */
.nav_bg{
    background-color: rgba(0, 0, 0, 0.918);
    /* sent to back */
    z-index: 15000;
    transition: all 0.5s;
    position: fixed;
}


/* for the 3 lines */
.navigation_icon{
    position: absolute;
    margin-top: 20px;
}

/* 3 lines */
.navigation_icon,
.navigation_icon::before,
.navigation_icon::after{
    width: 30px;
    height: 3px;
    background-color:#2F8B43;
    border-radius: 30px;
    display: inline-block;
}




/* center line */
.navigation_icon{
    width: 20px;
}

.navigation_icon::before,
.navigation_icon::after{
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.5s;
}


.navigation_icon::before{
    top: -10px;
}


.navigation_icon::after{
    top: 10px;
}


/* 3 lines hover */
.navigation_btn:hover    .navigation_icon::before{
        left: -10px;
}

.navigation_btn:hover    .navigation_icon::after{
    left: 10px;
}



.navigation_checkbox{
    display: none;
}



/* menu navbar code */
.nav_list{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50% );
    list-style: none;   
    text-align: center;
    width: 100%;
}

/* hidden text */
.nav{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 0;
    z-index: 15000;
    transition: all 0.5s;
}

.nav_link{
    display: inline-block;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Caveat Brush', cursive;
    transition: all .8s;
}

.nav_link:hover{
    color: #2F8B43;
    transform: translateX(-10px);
}


/* for clickable humburger */
.navigation_checkbox:checked ~ .nav {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.navigation_checkbox:checked ~ .nav_bg {
    transform: scale(3);
    width: 100%;
    height: 100%;
}


/* FOR X EXIT */
.navigation_checkbox:checked ~ .navigation_btn .navigation_icon{
    background-color: transparent;
} 

.navigation_checkbox:checked ~ .navigation_btn .navigation_icon::before{
    top: 5%;
    left: 5%;
    transform: rotate(45deg);
    position: fixed;
    
} 

.navigation_checkbox:checked ~ .navigation_btn .navigation_icon::after{
    top: 5%;
    left: 5%;
    transform: rotate(-45deg);
    position: fixed;
    
} 






/* title text */

.cheetahs{
    color: #2F8B43;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 5vw;
    margin-top: 60px;
}


iframe{
    margin-left: 5%;
    margin-top: 1%;
}


div p{
    color: white;
    font-family: 'Heebo', sans-serif;
    margin-left: 5%;
    margin-top: 4%;
    font-size: 30px;
    margin-right: 5%;
    text-align: justify;
}

div .P{
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    margin-left: 40%;
}

.ani-img img{
   width: 600px;
}

.ani-img {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
 }



/* arrow */
.arrow{
    position: relative;
    margin-left: 66%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
}

.arrow span{ 
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #2F8B43;
    border-right: 5px solid  #2F8B43;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
}

.arrow span:nth-child(2){
    animation-delay:-.2s ;
}

.arrow span:nth-child(3){
    animation-delay:-.4s ;
}

@keyframes scroll{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);

    }
    50%{
        opacity: 1;
        
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);


    }
}


/* TEXT CHEETAHS */
div .learnmore{
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 10px;
    margin-top: 3%;
    font-family: 'Heebo', sans-serif;
}

div .cheetahs1{
    text-align: center;
    font-size: 35px;
    margin-top: 1%;
    font-family: 'Heebo', sans-serif;
} 

div .cheetahs1 a{
    color: #2F8B43;
    text-decoration: none;
}

/* 
.cheetahs1 li{
    color:#2F8B43;
    text-align: center;
    font-size: 35px;
    margin-top: 1%;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
} */

.cheetahs1 a:hover{
    color: white;
}


/* for next  button*/

/* TEXT */

.num-next ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 2vw;
    line-height: 4;
    margin-bottom: 0;
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);

}

.num-next ul li a{
    color:inherit;
    text-decoration: none;
    margin-left: 10px;
}

.num-next ul li{
    /* para mag straight line */
    display: inline-block;
}

.num-next1 .dos{
    color: #2F8B43;
}





/* footer */
/* this the box */
/* .footer{
    padding-top: 50px; 
} */

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #ffffff;
}

/* circle and icon */
.footer .social a{
    font-size: 25px;
    color: inherit;
    border: 1px solid rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-top: 10px;
    position: relative;
    margin-left: 10px;
}


.footer .social .ig:hover{
    color: #2F8B43;   
}

.footer .social .fb:hover{
    color: #2F8B43;   
}

.footer .social .tw:hover{
    color: #2F8B43;   
}

.footer .social .ig{
    line-height: 44px;   
}

/* TEXT */

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    font-weight: 400;
    color: #2F8B43;
}

.footer ul li a{
    color:inherit;
    text-decoration: none;
    margin-left: 10px;
}

.footer ul li{
    /* para mag straight line */
    display: inline-block;
}

.footer ul li .foot:hover{
    color: white;
}

.footer p{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: white;
}

/* table */

table th{
    color: #2F8B43;
    font-size: 25px;
    font-family: 'Heebo', sans-serif;

}

table td {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Heebo', sans-serif;
}
/* number selctect next */


/* img media */

@media (max-width:768px){

    .ani-img img {
        width: 100%;
    
    }

    .cheetahs{
        font-size: calc(2.5rem);
    }

    div p{
        font-size: calc(20px);
    }

    div .learnmore{
        margin-top: 10%;
       font-size: calc(10px);
    }
    
    div .cheetahs1{
        font-size: calc(25px);
    }


    .arrow span{
        margin-top: 2%;
        width: 20px;
        height: 20px;
    }

    .num-next ul{
        font-size: calc(1rem + .06rem);
    }

    table th{
       font-size: calc(0.9rem);
    }
    
    table td {
        font-size: calc(0.7rem);
    }

    

}

@media (max-width:1280px){

    .ani-img img {
        width: 100%;
    
    }}
 
    /* .footer .social  a{
        font-size: 15px;
        width: 30px;
        height: 30px;

    }

    
    .footer .social a{
        line-height: 10px;
        padding: 2%;
    }

    .footer .social .ig{
        line-height: 3px;   
    }
    
    /* 
    
